################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.assets.cache
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Business/obj/BSES.DocumentManagementSystem.Business.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Business/obj/project.assets.json
/BSES.DocumentManagementSystem.Business/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.assets.cache
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Business.Contracts/obj/BSES.DocumentManagementSystem.Business.Contracts.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Business.Contracts/obj/project.assets.json
/BSES.DocumentManagementSystem.Business.Contracts/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/BSES.DocumentManagementSystem.Common.assets.cache
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/BSES.DocumentManagementSystem.Common.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Common/obj/BSES.DocumentManagementSystem.Common.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Common/obj/project.assets.json
/BSES.DocumentManagementSystem.Common/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.assets.cache
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Data/obj/BSES.DocumentManagementSystem.Data.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Data/obj/project.assets.json
/BSES.DocumentManagementSystem.Data/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.assets.cache
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Data.Contracts/obj/BSES.DocumentManagementSystem.Data.Contracts.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Data.Contracts/obj/project.assets.json
/BSES.DocumentManagementSystem.Data.Contracts/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Data.FileSystem/obj/BSES.DocumentManagementSystem.Data.FileSystem.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.assets.cache
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Data.FileSystem/obj/project.assets.json
/BSES.DocumentManagementSystem.Data.FileSystem/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Entities.Contracts/obj/BSES.DocumentManagementSystem.Entities.Contracts.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.assets.cache
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Entities.Contracts/obj/project.assets.json
/BSES.DocumentManagementSystem.Entities.Contracts/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Entities/obj/BSES.DocumentManagementSystem.Entities.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.assets.cache
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Entities/obj/project.assets.json
/BSES.DocumentManagementSystem.Entities/obj/project.nuget.cache
