################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.assets.cache
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Business/obj/BSES.DocumentManagementSystem.Business.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Business/obj/project.assets.json
/BSES.DocumentManagementSystem.Business/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.assets.cache
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Business.Contracts/obj/BSES.DocumentManagementSystem.Business.Contracts.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Business.Contracts/obj/project.assets.json
/BSES.DocumentManagementSystem.Business.Contracts/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/BSES.DocumentManagementSystem.Common.assets.cache
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/BSES.DocumentManagementSystem.Common.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Common/obj/BSES.DocumentManagementSystem.Common.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Common/obj/project.assets.json
/BSES.DocumentManagementSystem.Common/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.assets.cache
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Data/obj/BSES.DocumentManagementSystem.Data.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Data/obj/project.assets.json
/BSES.DocumentManagementSystem.Data/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.assets.cache
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Data.Contracts/obj/BSES.DocumentManagementSystem.Data.Contracts.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Data.Contracts/obj/project.assets.json
/BSES.DocumentManagementSystem.Data.Contracts/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Data.FileSystem/obj/BSES.DocumentManagementSystem.Data.FileSystem.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.assets.cache
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Data.FileSystem/obj/project.assets.json
/BSES.DocumentManagementSystem.Data.FileSystem/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Entities.Contracts/obj/BSES.DocumentManagementSystem.Entities.Contracts.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.assets.cache
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Entities.Contracts/obj/project.assets.json
/BSES.DocumentManagementSystem.Entities.Contracts/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Entities/obj/BSES.DocumentManagementSystem.Entities.csproj.nuget.dgspec.json
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.assets.cache
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.GeneratedMSBuildEditorConfig.editorconfig
/BSES.DocumentManagementSystem.Entities/obj/project.assets.json
/BSES.DocumentManagementSystem.Entities/obj/project.nuget.cache
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.dll
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.pdb
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Business.deps.json
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Business.dll
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Business.pdb
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.dll
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.pdb
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.pdb
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/ref/BSES.DocumentManagementSystem.Business.dll
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/refint/BSES.DocumentManagementSystem.Business.dll
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.csproj.CoreCompileInputs.cache
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.csproj.FileListAbsolute.txt
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.dll
/BSES.DocumentManagementSystem.Business/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.pdb
/BSES.DocumentManagementSystem.Business.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.deps.json
/BSES.DocumentManagementSystem.Business.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.dll
/BSES.DocumentManagementSystem.Business.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.pdb
/BSES.DocumentManagementSystem.Business.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Business.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Business.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Business.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.pdb
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/ref/BSES.DocumentManagementSystem.Business.Contracts.dll
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/refint/BSES.DocumentManagementSystem.Business.Contracts.dll
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.csproj.CoreCompileInputs.cache
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.csproj.FileListAbsolute.txt
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.dll
/BSES.DocumentManagementSystem.Business.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Business.Contracts.pdb
/BSES.DocumentManagementSystem.Common/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Common/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/BSES.DocumentManagementSystem.Common.csproj.CoreCompileInputs.cache
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/BSES.DocumentManagementSystem.Common.csproj.FileListAbsolute.txt
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/ref/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/refint/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Common/obj/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.dll
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.pdb
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.deps.json
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.dll
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.pdb
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.pdb
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.dll
/BSES.DocumentManagementSystem.Data/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.pdb
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/ref/BSES.DocumentManagementSystem.Data.dll
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/refint/BSES.DocumentManagementSystem.Data.dll
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.csproj.AssemblyReference.cache
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.csproj.CopyComplete
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.csproj.CoreCompileInputs.cache
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.csproj.FileListAbsolute.txt
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.dll
/BSES.DocumentManagementSystem.Data/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.pdb
/BSES.DocumentManagementSystem.Data.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Data.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Data.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.deps.json
/BSES.DocumentManagementSystem.Data.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.dll
/BSES.DocumentManagementSystem.Data.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.pdb
/BSES.DocumentManagementSystem.Data.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Data.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.pdb
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/ref/BSES.DocumentManagementSystem.Data.Contracts.dll
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/refint/BSES.DocumentManagementSystem.Data.Contracts.dll
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.csproj.CoreCompileInputs.cache
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.csproj.FileListAbsolute.txt
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.dll
/BSES.DocumentManagementSystem.Data.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.pdb
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.dll
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.Contracts.pdb
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.deps.json
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.dll
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.pdb
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Data.FileSystem/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.pdb
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/ref/BSES.DocumentManagementSystem.Data.FileSystem.dll
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/refint/BSES.DocumentManagementSystem.Data.FileSystem.dll
/BSES.DocumentManagementSystem.Entities/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Entities/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Entities/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Entities/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.pdb
/BSES.DocumentManagementSystem.Entities/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.deps.json
/BSES.DocumentManagementSystem.Entities/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.dll
/BSES.DocumentManagementSystem.Entities/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.pdb
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.csproj.CoreCompileInputs.cache
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.csproj.FileListAbsolute.txt
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.dll
/BSES.DocumentManagementSystem.Data.FileSystem/obj/Debug/net6.0/BSES.DocumentManagementSystem.Data.FileSystem.pdb
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.csproj.CoreCompileInputs.cache
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.csproj.FileListAbsolute.txt
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/ref/BSES.DocumentManagementSystem.Entities.dll
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/refint/BSES.DocumentManagementSystem.Entities.dll
/BSES.DocumentManagementSystem.Entities.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.dll
/BSES.DocumentManagementSystem.Entities.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Common.pdb
/BSES.DocumentManagementSystem.Entities.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.deps.json
/BSES.DocumentManagementSystem.Entities.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Entities.Contracts/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.pdb
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.dll
/BSES.DocumentManagementSystem.Entities/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.pdb
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.csproj.CopyComplete
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/ref/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/refint/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.csproj.CoreCompileInputs.cache
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.csproj.FileListAbsolute.txt
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.dll
/BSES.DocumentManagementSystem.Entities.Contracts/obj/Debug/net6.0/BSES.DocumentManagementSystem.Entities.Contracts.pdb
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.dll
/BSES.DocumentManagementSystem.Business/bin/Debug/net6.0/BSES.DocumentManagementSystem.Entities.pdb
/BSES.DocumentManagementSystem.Encryption.Data/obj/Debug/net6.0
/BSES.DocumentManagementSystem.Encryption.Data/obj
/BSES.DocumentManagementSystem.Encryption.Data.Contracts/obj
